@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);

html,
body {
  width: auto;
  height: auto;
  margin: 0;
}

html {
  font: 100%/150% Poppins, Helvetica, Arial, sans-serif;
}

/*------------INDEX--------------------*/
#background {
  background: linear-gradient(to right, #007ea7 56%, #ccdbdc 50%);
  width: 100%;
  height: 100%;
}

ul li {
  text-decoration: none;
  list-style: none;
}

#mon-nom {
  margin: auto;
  padding-left: 14%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding-top: 7rem;
  font-size: 33;
}

#prenom {
  color: #ccdbdc;
}

#nom {
  color: #007ea7;
}

#titre {
  position: absolute;
  padding: 4rem;
  justify-content: center;
  line-height: 3.7rem;
  text-transform: uppercase;
  text-align: center;
  color: #007ea7;
  top: 32%;
  left: 60%;
  font-size: 33;
}

#flex {
  margin: auto;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 42rem;
  transform: translateY(-50%);
}

#page-principale {
  position: relative;
  width: 475px;
  height: 475px;
  overflow: hidden;
  border-radius: 50%;
  transform: perspective(800px) rotateY(0deg);
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}

.page-principale-img {
  display: flex;
  max-width: 100%;
  height: auto;
  margin-top: -20%;
  object-fit: cover;
  background-color: #ccdbdc;
}

#page-principale:hover {
  animation-name: rotate-hover;
  animation-duration: 2s;
}

@keyframes rotate-hover {
  from {
    transform: perspective(800px) rotateY(0deg);
  }
  to {
    transform: perspective(800px) rotateY(360deg);
  }
}

#page-principale-menu {
  margin-left: 4vw;
  padding: 0;
  float: right;
  height: 630px;
  width: 399px;
  z-index: -1;
}

#page-principale-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0;
  height: 600px;
  transform: translateX(-125%);
  transition: transform 0.5s ease-in-out;
  text-align: left;
}

#page-principale-menu ul.visible {
  transform: translateX(0%);
}

#page-principale-menu ul li {
  list-style: none;
  text-decoration: none;
  margin: 0.75rem 0.75rem 0.75rem 0;
  padding: 2rem 0;
}

#page-principale-menu ul li:hover {
  transform: scale(1.1);
}

#page-principale-menu ul li a {
  font-size: 20;
  padding: 1.8rem 2rem;
  text-decoration: none;
  list-style: none;
  color: white;
  text-transform: uppercase;
  background-color: #007ea7;
  border-radius: 0 2rem 2rem 0;
}

#hamburger-menu {
  display: none;
}

#page-principale-menu-hamburger {
  display: none;
}


#lang-index {
  position: relative;
  z-index: 1;
}

.lang-index {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.5rem;
  text-decoration: none;
  list-style: none;
  color: #007ea7;
  background-color: #ccdbdc;
  border-radius: 0 50% 50%;
  font-size: 30;
  font-weight: bold;
}

.lang {
  padding: 2.5rem;
  text-decoration: none;
  list-style: none;
  color: #007ea7;
  background-color: #ccdbdc;
  border-radius: 0 50% 50%;
  font-size: 30;
  font-weight: bold;
}

#iframes-container {
  display: none;
}

/*------------------------------autre page-----------------------------------*/

.pages h1 {
  width: auto;
  text-align: center;
  color: #ccdbdc;
  background-color: #003249;
  width: 100%;
  padding: 1rem 0;
  text-transform: uppercase;
}

#haut-page {
  margin: 2rem 0 3rem;
  display: flex;
  flex-direction: row;
}

#menu {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu ul {
  display: flex;
}

#menu ul li a {
  position: relative;
  margin: 3rem;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  color: #007ea7;
  font-size: large;
  font-weight: 600;
}

#menu ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 0;
  height: 2px;
  background-color: #ccdbdc;
  transition: all 0.3s ease-out;
}
#menu ul li a:hover::before {
  width: 100%;
}

/* --------------------a propos de moi --------------------------*/

#propos {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#propos img {
  max-width: 500px;
  height: 500px;
}

#propos p {
  display: flex;
  padding-left: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
}

#etude {
  margin: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#etude img {
  padding-left: 4rem;
  width: 300px;
  height: 300px;
}

#etude p {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 4.5vw;
  font-size: 1.3vw;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#info p {
  margin-left: 3rem;
  background-color: #ccdbdc;
  border-radius: .5rem;
  padding: 1.7rem;
  color: #003249;
  font-weight: 600;
  text-align: center;
  line-height: 3rem;
}

.button img{
  margin-left: 3rem;
  width: 70px;
  background-color: #ccdbdc;
  border-radius: .5rem;
  padding: 2.5rem;
}

#github-info {
  background-color: #ccdbdc;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#github-username {
  text-decoration: none;
  list-style: none;
  font-size: 20;
  color: #003249;
  font-weight: 800;
}

/* ------------------------Infographiste---- --------------------------*/

.top {
  text-align: center;
  padding: 2rem 8rem;
  color: #003249;
}

.carrousel img {
  width: 300px;
  height: auto;
}

.titre-work {
  background-color: #ccdbdc;
  padding: 1rem;
  margin: 0 4rem 0 4rem;
  color: #003249;
}

.work {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ccdbdc80;
  padding: 2rem 3rem;
  margin: 0 4rem 4rem 4rem;
}

.work p {
  padding-right: 2rem;
  color: #003249;
}
/* --------------------developpement web --------------------------*/

#centrer-jeux {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#centrer-jeux video, #centrer-jeux img {
  width: 500px;
  height: auto;
  border: 2rem solid #ccdbdc;
}

#jeux {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

#coter {
  padding: 2rem;
  background-color: #ccdbdc;
}

#coter a {
  text-decoration: underline;
  color: #003249;
  font-weight: 800;
  font-size: 20;

}

/* --------------------version telephone --------------------------*/

@media screen and (max-width: 956px) {
  #fond {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #003249;
  }

  #titre {
    display: none;
  }

  #background {
    margin: 0;
    border-top: 1rem solid#003249;
    border-radius: 0px 30vh 0px 0;
    background: white;
    width: 100%;
  }

  #mon-nom {
    padding-top: 0.8rem;
    padding-left: 0;
    font-size: 2.7vw;
    gap: 2vw;
  }

  #prenom {
    color: #007ea7;
  }

  #flex {
    flex-direction: column;
    justify-content: initial;
    position: static;
    transform: none;
  }

  #page-principale {
    max-width: 500px;
    max-height: 500px;
    width: 80vw;
    height: 80vw;
    padding-bottom: 0;
    z-index: 0;
  }

  #page-principale-menu {
    display: none;
  }

  #lang-index {
    display: block;
    margin: 0;
    z-index: 0;
  }

  .lang-index {
    padding: 1rem;
    font-size: 15;
    border-radius: 0;
  }

  #menu {
    display: none;
  }

  #lang {
    display: none;
  }

  #hamburger-menu {
    display: block;
    margin: 0;
    float: right;
    border: none;
    cursor: pointer;
    background-color: #ccdbdc;
    color: #003249;
    font-size: 35;
  }

  #page-principale-menu-hamburger {
    display: none;
    position: relative;
    margin-top: 2vh;
    top: 0;
    right: 0;
    background-color: #ccdbdc;
    color: #003249;
    width: 100%;
    height: auto;
    font-size: 35;
  }

  #page-principale-menu-hamburger nav {
    margin: 0;
    padding: 0;
  }

  #page-principale-menu-hamburger ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #page-principale-menu-hamburger li {
    margin: 0;
    padding: 0;
  }

  #page-principale-menu-hamburger a {
    display: block;
    color: #fff;
    font-size: 1.5vh;
    padding: 20px;
    text-decoration: none;
    background-color: #003249;
    text-align: center;
  }

  #iframes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #telephone1, #telephone2, #telephone3 {
    height: 100%;
    margin-bottom: 20px;
    width: 100%;
  }

  #cacher {
    display: none;
  }

  .carrousel {
    margin-bottom: 1vh;
    padding: 0;
  }

  .carrousel img {
    width: 250px;
    height: auto;
  }

  #jeux {
    display: flex;
    flex-direction: column;
    background-color: #ccdbdc;
    padding-top: 2rem;
  }

  #jeux video, #jeux img {
    width: 250px;
    height: auto;
    border: none;
  }
}

@media screen and (max-width: 900px) {

  #propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #propos img {
    margin-bottom: 2vh;
  }

  #propos p {
    font-size: 12;
    text-align: center;
    padding-left: 0;
  }

  #etude p {
    font-size: 12;
  }

  .top h2 {
    line-height: 3vh;
  }
}

@media screen and (max-width: 860px) {

  #propos {
    margin: .5rem;
  }

  #propos img {
    width: 300px;
    height: auto;
  }

  #etude {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  #etude p {
    font-size: 12;
    line-height: 3;
  }

  #etude img {
    padding-left: 0;
  }

  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #info p {
    margin-left: 0;
  }

  #info img {
    margin-left: 0;
  }

  .top {
    padding: 0;
    padding: 1rem;
  }

  .top h2 {
   font-size: large;
   line-height: 1.5;
  }
  
  .top p {
    font-size: 12;
    text-align: center;
  }

  .titre-work {
    margin: 0 1rem 0 1rem;
  }

  .work {
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    padding: 1rem 0;
    margin: 0 1rem 1rem 1rem;
  }

  .work p {
    font-size: 12;
    width: 70vw;
    text-align: center;
    padding: 0;
  }

}
